{{=<% %>=}}
<core-format-text component="mod_ouwiki" componentId="<% cmid %>">

    <%#poststatus%>
        <h6 style="padding-left: 1.2rem;">Successfully upated page</h6>
    <%/poststatus%>

    <form #f="ngForm" id="edit_page_form">
        <ion-card>
            <ion-card-content>
                <core-rich-text-editor 
                    item-content style="max-height: 70vh;"
                    name="pagebody" 
                    component="mod_ouwiki" 
                    componentId="<% cmid %>" 
                    ngControl="content" 
                    [html]=CONTENT_OTHERDATA.fullpagecontent 
                    [(ngModel)]=CONTENT_OTHERDATA.fullpagecontent>
                </core-rich-text-editor>

                <ion-input hidden name="cmid" type="text" value="<% cmid %>"></ion-input>
                <ion-input hidden name="pagename" type="text" value="<% pagename %>"></ion-input>
                <ion-input hidden name="groupid" type="text" value="<% groupid %>"></ion-input>
            </ion-card-content>
        </ion-card>

        <button 
            ion-button small core-site-plugins-new-content
            component="mod_ouwiki" 
            method="mobile_wikipage_submit" 
            samePage=true
            refreshOnSuccess=true
            form="edit_page_form"
            [useOtherData]="['fullpagecontent']">
            Submit
        </button>
    </form>

</core-format-text>
