{{=<% %>=}}
<core-format-text component="mod_ouwiki" componentId="<% cmid %>">

    <%#poststatus%>
        <h6 style="padding-left: 1.2rem;">Successfully changed section</h6>
    <%/poststatus%>
        
    <form #f="ngForm" id="edit_section_form">
        <ion-card>
            <ion-card-content>
                <core-rich-text-editor 
                    style="max-height: 70vh;" item-content 
                    name="sectionbody" 
                    component="mod_ouwiki" 
                    componentId="<% cmid %>" 
                    ngControl="content" 
                    [html]=CONTENT_OTHERDATA.sectioncontent 
                    [(ngModel)]=CONTENT_OTHERDATA.sectioncontent>
                </core-rich-text-editor>

                <ion-input hidden name="cmid" type="text" value="<% cmid %>"></ion-input>
                <ion-input hidden name="courseid" type="text" value="<% courseid %>"></ion-input>
                <ion-input hidden name="ouwikiid" type="text" value="<% ouwikiid %>"></ion-input>
                <ion-input hidden name="sectionid" type="text" value="<% sectionid %>"></ion-input>
                <ion-input hidden name="groupid" type="text" value="<% groupid %>"></ion-input>

            </ion-card-content>
        </ion-card>

        <button 
            ion-button small core-site-plugins-new-content
            component="mod_ouwiki" 
            method="mobile_section_submit" 
            samePage=true
            refreshOnSuccess=true
            form="edit_section_form"
            [useOtherData]="['sectioncontent']">
            Submit
        </button>
    </form>

</core-format-text>
